# Rust
target/
Cargo.lock

# Node
node_modules/
package-lock.json
frontend/package-lock.json
.npm

# Nuxt
frontend/.nuxt/
frontend/.output/
frontend/node_modules/

# Tauri
src-tauri/gen/
src-tauri/icons/*.png
src-tauri/icons/*.ico
src-tauri/icons/*.icns
src-tauri/icons/android/
src-tauri/icons/ios/
!src-tauri/icons/app-icon.png

# Task
.task/

# Env
.env
.env.local

# macOS
.DS_Store

# IDE
.vscode/settings.json
.idea/
